{% load i18n %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %} {% trans "TitleBase" %} {% endblock %}</title>
</head>

<body>
    <div id="nav">
        {% block sidebar %}
        <h3>Menu</h3>
        <ul>
            | <a href="{% url 'thinClientsIndex' %}">ThinClients</a> |
            <a href="{% url 'groupsIndex' %}">Groups</a> |
            <a href="{% url 'attributesIndex' %}">Attributes</a> |
        </ul>
        {% endblock %}
        <hr>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>