{% extends "ControlPanel/base.html" %}

{% block title %}Thin Client Detail{% endblock %}

{% block content %}

<h2>{{ thinclient.dnsName }}</h2>
MAC: {{ thinclient.mac}}<br>
Group: {{ thinclient.group.name}}

<h3> Atributos particulares </h3>
<ul>
{% for atributo in TcAttrib %}
    <li>{{ atributo.attribute.name }} : {{atributo.value}}</li>
{% endfor %}
</ul>
<h3> Atributos del grupo </h3>
<ul>
{% for atributo in GroupAttrib %}
    <li>{{ atributo.attribute.name }} : {{atributo.value}}</li>
{% endfor %}
</ul>
<h3> Atributos definitivos </h3>
<ul>
{% for key, value in Attributes.items %}
    <li>{{ key }} : {{value}}</li>
{% endfor %}
</ul>

{% endblock %}